<nav class="navbar navbar-default" ng-controller="MenuController as vm">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand " href="/"><img class="logo" src="../images/tech.svg" /></a>
    </div>
    <div id="navbar2" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">

            <li ng-class="vm.isCurrent(r)" ng-repeat="r in vm.navRoutes">
                <a ui-sref="{{r.name}}" ng-bind-html="r.settings.content"></a>
            </li>
        </ul>

    </div>
</nav>