/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-size: 15px;
    line-height: 1.52;
    color: #717f86;
    font-size: 16px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#event{
    background: url('../images/res02.jpg') no-repeat;
    background-size: cover;
    min-height: 630px;
}
.bg-color{
    background-color: RGBA(0, 0, 0, 0.61);
    min-height: 630px;
}
#banner h2{
    font-family: 'Satisfy', sans-serif;
    font-size: 45px;
    color: #FFB03B;
}
#banner p{
    font-family: 'PT Sans', sans-serif;
    color: #fcfcfc;
    font-size: 34px;
}
.section-padding{
    padding: 60px 0px;
}
.logo-name{
    font-family: 'Satisfy', sans-serif;
    font-size: 65px;
    margin-top: 140px;
    color: #37a000;
}
.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
		background-color: #fff;
    overflow-x: hidden;
    
    transition: 0.5s;
	  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
	  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
	  -ms-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
	  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
	  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
.sidenav a {
    padding: 8px 8px 8px 32px;
		margin-top: 18px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.sidenav a:hover, .offcanvas a:focus{
    color: #37a000;
}


/******lista tipo hover responsive*******/
#header #myTopnav{
	height: 80px;
	position: absolute;
	z-index: 1;
	top: 0;
	width: 100%;
}

#myTopnav a{
	margin-top: 18px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	transition: 0.3s
	background-color: #fff;
}

.container_top_nav{
	width: 100%;
	height: 100%;
}
.topnav ul > li.menu_logo{
	font-family: 'Satisfy', sans-serif;
	font-size: 32px;
	color: #FFB03B;
	display: inline-grid;
	width: auto;
	height: 15%;
}

li.menu_logo:hover {
	text-decoration: none;
  background-color: #fff 0.1;
	text-decoration: none;
}
.topnav ul{
  padding: 0.2em 5.5em 0.2em 0.5em;
  width: 100%;
}

.topnav ul li{
  padding: 0.2em 0.2em 0.5em 0.5em;
  border: none;
  display: inline-grid;
	float: right;
	text-align: left;
	width: 15%;
}

.topnav ul > li:hover{
	text-decoration: none;
  background-color: #E4E4E4;
	color: #37a000;
}
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}
.menu-icon
{
    color: #fff;
    font-size: 30px;
    margin-top: 30px;
    cursor: pointer;
}

.header-h {
    color: #37a000;
    font-size: 46px;
    font-family: 'Satisfy', sans-serif;
    font-weight: 300;
}
.header-p {
    color: #9699a6;
    font-size: 16px;
}
.msg-row {
    margin-top: 56px;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.bg-13 {background-color: #f04e4e;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.contact-icon {
    color: #fff;
    position: absolute;
    left: 34px;
    font-size: 32px;
    margin-top: 18px;
}
.bg-1 {
    background-color: #fecc17;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.bg-14 {
    background-color: #ccdb38;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.dark-blue {
    color: #31364c;
    font-size: 24px;
    margin-top: 0;
}
.light-blue {
    color: #9699a6;
    font-size: 16px;
    margin-bottom: 1px;
}
.media-body {
    margin-left: 10px;
    padding-left: 13px;
}
.media-2 {
    margin-top: 30px;
}
.newinput .form-group {
    margin: 8px 0 9px !important;
    padding-bottom: 10px;
}
.contact-form .form-control {
    color: #000 !important;
    font-size: 16px;
    font-weight: normal;
    height: 38px;
    line-height: 1.42857;
    padding: 7px 0;
}
.form-control, .form-group .form-control {
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 1px);
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}
.contact-form {
    margin: 8px 0 9px !important;
    padding-bottom: 10px;
}
.contact-form textarea.form-control {
    color: #000 !important;
    height: auto;
}
.contacts-btn {
    background-color:  #FFB03B !important;
    color: #ffffff !important;
    width: 170px;
    height: 54px;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-transform: capitalize;
    border: 0px;
    color: #000 !important;
}
.phone-in-talk, .hour-icon
{
    font-size: 35px;
    line-height: 70px;
    color: rgb(255, 255, 255);
}
.heading{
    font-family: 'Satisfy', sans-serif;
    color: #37a000;
    font-size: 24px;
}
.marb-35{
    margin-bottom: 35px;
}
.details-list{
    margin-top: 20px;
}
.details-list ul li i {
    margin-right: 10px;
    color: #37a000;
}
#about img
{
    border: 5px solid rgb(255, 176, 59);
    border-radius: 2px;
}

.left-images img {
    height: 308px;
    width: 100%;
}
.left-images{
    padding: 0px;
}
.details-text {
    border-right: 2px solid #841b2d;
}
.details-text {
    background-color: rgba(14, 4, 4, 0.70);
    border-right: 2px solid #A87F41;
    padding: 20px 20px 30px 30px;
    overflow: auto;
}
.content-holder h2 {
    color: #37a000;
    font-size: 32px;
    padding-bottom: 15px;
    font-family: 'Satisfy', sans-serif;
}
.content-holder address strong {
    color: #FFB03B;
    padding: 10px 0px;
}
.details-text p {
    color: #E8E8E8;
    line-height: 26px;
    letter-spacing: 1px;
    font-weight: 300;
}
.btn-read-more {
    background: #FFB03B;
    padding: 7px 19px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 3px;
    color: #000;
    text-transform: uppercase;
    margin-top: 10px;
}
.btn-read-more:hover
{
    color: #000;
}
#Container .mix{
    display: none;
}
.menu-restaurant{
    width: 50%;
    float: left;
    padding: 15px;
    position: relative;
}
.menu-restaurant .menu-title {
    float: left;
    font-family: Montserrat,arial;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #37a000;
}
.menu-restaurant .menu-line {
    position: absolute;
    bottom: 6px;
    border-bottom: 1px dotted rgba(0,0,0,.3);
    margin-left: .6rem;
    margin-right: .6rem;
}
.menu-restaurant .menu-price {
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 0;
}
.menu-restaurant .menu-subtitle {
    display: block;
    float: left;
    color: #B1B1B1;
    font-family: Satisfy,'Open Sans',arial;
    font-size: 1.2rem;
}
.menu-restaurant span.clearfix {
    position: relative;
    display: block;
}
.gallery-trigger ul li a.active, .gallery-trigger ul li a:hover {
    background: #37a000;
    color: #fff;
    border: 1px solid #37a000;
}
.gallery-trigger ul li {
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.gallery-trigger ul li a {
    padding: 10px 20px;
    font-size: 14px;
    color: #565656;
    border-radius: 0px;
    border: 1px solid #BBBBBB;
    text-decoration: none;
    cursor: pointer;
}

.list-horizontal li {
    display: inline-block;
}
#contact, #form_users{
    background-color: rgba(221, 221, 221, 0.33);
		text-align: center;
}
.container div{
		text-align: center;

}

.footer .social-list a {
    font-size: 13px;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
@media (min-width: 768px) and (max-width: 980px) {
    .content-holder h2 {
        font-size: 23px;
    }
    .details-text p {
        line-height: 16.6px;
    }
}
@media (min-width: 451px) and (max-width: 767px) {
    .details-text {
        border:0px;
        border-bottom: 2px solid #A87F41;
    }
}
@media (min-width: 20px) and (max-width: 450px) {
    .menu-restaurant {
    width: 100%;
    }
    .details-text {
        border:0px;
        border-bottom: 2px solid #A87F41;
    }
    .header-h {
        font-size: 35px;
    }
    .header-p, body{
        font-size: 14px;
    }
    .about-info, .mr-15{
        margin-bottom: 15px;
    }
    #banner h2{
        font-size: 25px;
    }
    #banner p{
        font-size: 25px;
    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
